<app-section-header
  title="Meet Sathish and Feby"
  description="LEARN MORE ABOUT OUR Founders"
></app-section-header>

<div class="founderContainer">
  <img src="/assets/images/modules/main-church/leadership/leadPastor2.jpg" alt="">
  <div class="founder">
    <div class="title">
      Sr. Pastor Sathish Philip and <br> Feby Sathish
    </div>
    <hr>
    <p>
      <b>Pastor Sathish Philip</b>, born on July 5, 1978, as the youngest son of late Mr. Thomas Philip and Mrs. Thankamma, 
      is the senior pastor of Church of God Gospel Center, Palarivattom, Kochi. When Pr. Sathish was 24, he had an 
      encounter with the Lord Jesus and gave his life completely to serve the Lord. For more than 20 years, Pr. Sathish 
      has helped multitudes realize the purpose of their life.
    <br>
    He is a loving husband to <b>Feby Sathish</b>. Feby, born on 10/10/1982, as the first daughter of Pr. N. G. Samkutty 
    and Mariyamma, a best friend, a mother, a loving wife, and is Pastor Sathish's better helpmate as well. Feby 
    and Sathish have managed every ministry opportunity, as well as personal ventures, with their unwavering faith 
    in God. The beautiful couple is successfully raising three precious children, <b>Ben Eliyahu Philip, Sam Elisha 
      Philip, and Jerusha Ruth Philip</b>.
    <br>
    Pr. Sathish and Feby, with one accord, say, <i>"How true intimacy with God is; we feel that no one else can 
      really understand the special bond that we share with him because it's altogether personal." "We cannot 
      describe the beauty of our relationship with Christ."</i> The secret of their marital bliss is their 
      intimacy with Jesus, and they support each other every step of the way.
    <br>
    <br>
    Moreover, <b>Feby Sathish</b> is the passionate creator behind the up-and-coming YouTube channel <a href="https://www.youtube.com/@roseofsharon9238"><b>"Rose of Sharon."</b></a>
    On this platform, she shares inspiring and insightful content centered around her deep faith in God. Through 
    her videos, Feby endeavors to foster a profound connection with Jesus, aiming to guide and uplift her audience 
    on their spiritual journey. The channel serves as a virtual haven for those seeking a closer relationship with 
    the divine, as Feby beautifully articulates her experiences and revelations in the pursuit of a more profound 
    love for Christ.


    </p>
  </div>
</div>