<app-section-header
  title="Sr. Pastor Satish Philip & Febi Satish"
  description="LEARN MORE ABOUT OUR Founders"
></app-section-header>

<div class="founderContainer">
  <img src="/assets/images/modules/main-church/leadership/leadPastor.jpg" alt="">
  <div class="founder">
    <div class="title">
      Sr. Pastor Satish Philip and <br> Febi Satish
    </div>
    <hr>
    <p>
      Pastor Ryan sets the vision and direction of Generation Church, and he’s also our primary teacher. 

      Ryan has a unique way of communicating God’s Word with clarity, humor, and practical application. 
      
      Ryan is a graduate of Arizona State University and also earned a Master’s degree in theology from Liberty University. He served as a captain in the U.S. Army. While deployed to Iraq, Ryan first felt the call to full-time ministry. Upon completion of his active duty commitment, God led him to join the pastoral leadership team at Generation Church in 2011.
      
      After several years in ministry, Ryan became the Lead Pastor of Generation Church in January 2014. Since that time, the church has experienced rapid growth. From 2016 through 2022, Generation Church has been named one of the Top 100 Fastest-Growing Churches in the USA by Outreach Magazine. 
      
      Amy serves on the lead visionary team at Generation Church. She oversees our Creative Team and Beautiful Girl ministry. She’s a graduate of Southwestern Assemblies of God University. 
      
      Ryan and Amy have a daughter named Lyla. As a family, they’re committed to helping more people experience all that Jesus has to offer.
    </p>
  </div>
</div>