<div class="mainContainer">
  <div class="header">
    <div class="space"></div>
    <div class="heading">
      <h1>Welcome Home</h1>
      <div class="border"></div>
    </div>
    <div class="space"></div>
    <!-- Latest Message -->
    <div class="latestMsgContainer">
      <div class="wrapper">
        <div class="subContainer">
          <!-- message title-->
          <div class="messageTitle">
            <span>The Latest Message:</span> Joy | Advent    
          </div>
          <!-- video -->
          <a class="relative flex items-center justify-center video-link" href="https://generation.church/sermons/joy-advent/">
            <svg class="absolute z-10" width="120" height="80" viewBox="0 0 120 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="119" height="79" fill="#007BFF" stroke="black"/>
              <path d="M45 23L75 40L45 57V40V23Z" fill="black"/>
              </svg>
              
            <img class="sermon-thumbnail" src="../../../../assets/images/modules/main-church/home/youtube-icon.svg" alt="Latest Sermon: Joy | Advent" loading="lazy" data-opt-lazy-loaded="false">
          </a>
        </div>
        <img class="star" src="../../../../assets/images/modules/main-church/home/star-icon.svg" data-opt-lazy-loaded="false">
      </div>
    </div>
    <!-- Marquee -->
    
    <div class="marqueeWrapper">
      <div class="innerWrapper">
        <!-- Top -->
        <div class="topContainer top marqueeTop marqueeContainer">

          <div class="marquee">
            <div>
            <span>Home</span>
            <span>Welcome</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            </div>
          </div>
        </div>
        <!-- Bottom -->
        <div class="topContainer bottom marqueeTop marqueeContainer">

          <div class="marqueeBottom ">
            <div>
            <span>Home</span>
            <span>Welcome</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="missionWrapper">
    <div class="missionContainer">
      <div class="">
        <div class="missionHeader">
          <h3>Our Mission</h3>
          <div class="line"></div>
        </div>
      </div>
      <div class="missionText">
        <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/ig:avif/f:best/https://generation.church/wp-content/themes/hello-elementor-child/template-parts/home/images/mission.svg" alt="">
      </div>
      <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/f:best/https://generation.church/wp-content/themes/hello-elementor-child/template-parts/home/images/sunset_v2.png" alt="">
    </div>

  </section>
  <!-- Find a campus -->
  <section class="visitWrapper">
    <div class="visitContainer">
      <div class="subVisitContainer">
        <div class="gridWrapper">
          <div class="leftGrid">
            <h3>Visit Us</h3>
            <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/ig:avif/f:best/https://generation.church/wp-content/uploads/2021/11/down_arrow.svg" alt="">
          </div>
          <div class="rightGrid">
            <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/f:best/https://generation.church/wp-content/uploads/2022/01/Mesa-May-9-2021-45-scaled.jpg" alt="">
          </div>
          <div class="midLeft">
            <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/f:best/https://generation.church/wp-content/uploads/2022/01/IMG_1233-1.png" alt="">
          </div>
          <div class="midRight">
            <h4>We're glad <br> you're here!</h4>
            <p>Come as you are and worship with us at our Mesa, South Mountain, and Fountain Hills campuses.</p>
            <a href="">Find a Campus</a>
          </div>
          <div class="bottomLeft">
            <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/f:best/https://generation.church/wp-content/uploads/2022/01/1G4A1197-1.png" alt="">
          </div>
          <div class="bottomRight">
            <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/f:best/https://generation.church/wp-content/uploads/2022/01/mesa-recaps-december-12-2021-28.jpg" alt="">
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- Watch -->
  <section class="watchWrapper"> 
    <div class="watchContainer">
      <div class="watchSubContainer">
        <div class="watchSection">
          <h3>Watch <br>  Generation <br> Church <br> Online </h3>
          <div class="subContent">
            <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/f:best/https://generation.church/wp-content/uploads/2022/01/YA-March-25-2021-38-scaled.jpg" alt="">
          </div>
        </div>
        <div class="watchFooter">
          <div class="join">
            <span>
              Join Us Live</span>
              <span>
                9:00am, 10:45am, & 4:30pm          </span>
          </div>
          <div class="live">
            <a href="">Watch Live</a>
            <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/ig:avif/f:best/https://generation.church/wp-content/themes/hello-elementor-child/template-parts/home/images/swiggle-underline.svg" alt="">
          </div>
        </div>
        <div class="watchBox"></div>
      </div>
      <div class="rightLogo">
        <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/ig:avif/f:best/https://generation.church/wp-content/uploads/2021/11/rotator_outer.svg" alt="">
        <img src="https://mlvggls1rius.i.optimole.com/w:auto/h:auto/q:90/ig:avif/f:best/https://generation.church/wp-content/uploads/2021/11/rotator_inner.svg" alt="">
      </div>
    </div>

  </section>
</div>
