<div class="mainContainer">
  <div class="header">
    <div class="space"></div>
    <div class="heading">
      <h1>Welcome Home</h1>
      <div class="border"></div>
    </div>
    <div class="space"></div>
    <!-- Latest Message -->
    <div class="latestMsgContainer">
      <div class="wrapper">
        <div class="subContainer">
          <!-- message title-->
          <div class="messageTitle">
            <span>The Latest Message:</span> Joy | Advent    
          </div>
          <!-- video -->
          <a class="relative flex items-center justify-center video-link" href="https://generation.church/sermons/joy-advent/">
            <svg class="absolute z-10" width="120" height="80" viewBox="0 0 120 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="119" height="79" fill="#007BFF" stroke="black"/>
              <path d="M45 23L75 40L45 57V40V23Z" fill="black"/>
              </svg>
              
            <img class="sermon-thumbnail" src="../../../../assets/images/modules/main-church/home/youtube-icon.svg" alt="Latest Sermon: Joy | Advent" loading="lazy" data-opt-lazy-loaded="false">
          </a>
        </div>
        <img class="star" src="../../../../assets/images/modules/main-church/home/star-icon.svg" data-opt-lazy-loaded="false">
      </div>
    </div>
    <!-- Marquee -->
    
    <div class="marqueeWrapper">
      <div class="innerWrapper">
        <!-- Top -->
        <div class="topContainer marqueeTop marqueeContainer">

          <div class="marquee">
            <div>
            <span>Home</span>
            <span>Welcome</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            <span>Welcome</span>
            <span>Home</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
