<div class="headerWrapper">
  <div class="header">
    <img src="/assets/images/core/header/logo.png" alt=""  (click)="navigateToHome()">
    <div class="menuItems">
      <div class="menuItem">
        What We Believe
      </div>
      <div class="menuItem" (click)="navigateToLeaderShip()">
        Leadership
      </div>
      <div class="menuItem">
        Our Story
      </div>
      <div class="menuItem">
        Visit
      </div>
      <div class="menuItem" (click)="navigateToConnect()">
        Connect
      </div>
    </div>
    <div class="primaryActions"  (click)="navigateToLiveStreaming()">
      Watch Live
    </div>
  </div>
</div>
