<div class="sermonsWrapper">
  <app-section-header 
    title="SERMONS" 
    description=""
    image=""
  ></app-section-header>
  <div class="sermonListWrapper">
    <div class="sermons" *ngFor="let sermon of [1,2,3]">
      <p>March 11, 2024 <span>Series: Corinthians</span></p>
      <div class="sermonTitle">
        <h2><a href="">God’s Loving Rebuke | Corinthians | Ryan Visconti</a></h2>
        <span>Speaker : Pr. Sajeesh</span>
        <p>Sometimes, we all need to be rebuked. The Lord rebukes us because He loves us. How you respond to God’s rebuke determines the level of pain you experience in your…</p>
      </div>
    </div>
   
  </div>
</div>