.connectWrapper{
    .connectSection{
        position: relative;
        background-color: #000;
        border-style: solid;
        border-width: 0 0 3px;
        transition: .3s,border .3s,border-radius .3s,box-shadow .3s;
        padding: 1rem 1rem;
        .connectHeader{
            display: flex;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            .leftContainer{
                position: relative;
                min-height: 1px;
                display: flex;
                .alignContainer{
                    display: flex;
                    align-content: center;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-content: flex-start;
                    h1{
                        position: absolute;
                        color: #fff;
                        text-transform: uppercase;
                        line-height: 1.2em;
                        font-family: 'REM',Sans-serif;
                        font-size: 60px;
                        font-weight: 600;
                        left: 30px;
                      
                    }
                    .image {
                        margin-left: -36%;
                        display: block;
                        width: 90px;
                        margin-top: 40px;
                       
                    }
                    .separator{
                        background-color: #007BFF;
                        height: 10px;
                        width: 100%;
                        max-width: 100px;
                        margin-top: 80px;
                        margin-left: -30%;
                    }
                    h2{
                        color: #fff;
                        font-size: 20px;
                        font-weight: 400;
                        text-transform: uppercase;
                        line-height: 1.3em;
                        font-family: 'REM',Sans-serif;
                        margin-left: 5%;
                    }
                   
                }
            

            @media (min-width: 768px)
                {
                    width: 50%;
                }
            }
            .rightContainer{
                width: 100%;
                .imageContent{
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    .imgDiv{
                        padding: 2rem 0;
                        img{
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                }
                @media (min-width: 768px)
                 {
                    width: 50%;
                } 
            }
            @media (min-width: 767px)
                {
                    grid-gap: 3rem;
                    flex-wrap: nowrap;
                }
        }
    }
    .midWrapper{
        position: relative;
        padding: 4rem 2rem;
        .midConnectContainer{
            display: flex;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            max-width: 1400px;
            grid-gap: 3rem;
            .leftContent{
             img{
                width: 100%;
                max-width: 276px;
                opacity: .6;
             }   
            }
            .rightContent{
                .dividerTop{
                    border-style: solid;
                    color: #007BFF;
                    border-width: 6px;
                    width: 300px;
                }
                .dividerBottom{
                    float: right;
                    border-style: solid;
                    color: #007BFF;
                    border-width: 6px;
                    width: 300px;
                }
                .welcomePhrase{
                    p{
                        font-family: 'League Gothic', sans-serif;
                        font-size: 58px;
                        text-transform: uppercase;
                        line-height: 1em;
                        width: auto;
                        max-width: auto;
                    }
                }
            }
        }
    }
    .programs{
        background-color: #303131;
        padding: 4rem 1rem;
        position: relative;
        .mainContainer{
            max-width: 1400px;
            display: flex;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            .contentsWrapper{
                display: flex;
                margin-right: auto; 
                margin-left: auto;
                position: relative;
                flex-wrap: wrap;
                .content{
                    position: relative;
                    width: 30%;
                    margin: 12px;
                    
                    .dividerTop{
                        border-style: solid;
                        color: #007BFF;
                        border-width: 4px;
                        width: 400px;
                        @media (max-width: 768px)
                            {
                                width:100px
                            }
                    }
                    h6{
                        color: #fff;
                        font-family: 'REM',Sans-serif;
                        font-size: 20px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                    p{
                        color: #fff;
                        font-size: 16px;
                        font-family: 'REM',Sans-serif;
                        text-align: justify;
                        width: 82%
   ;
                    }
                    p:last-of-type{
                        a{
                            color: #fff;
                            text-decoration: none;
                            font-family: "REM", Sans-serif;
                        }
                    }
                }
            }
            @media (min-width: 1025px)
            {
                grid-gap: 3rem;
                flex-wrap: nowrap;
            }
        }
        .imageContainer{
            display: flex;
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 0; 
            width: 100%;
            position: relative;
            margin-right: auto;
            margin-left: auto;
            max-width: 1400px;
            height:300px;
            .imgWrapper{
                position: relative;
                min-height: 1px;
                display: flex;
               width: 25%;
                    overflow: hidden;
                    object-fit: contain;
                img{
                    
                }
                
                
            }
            .imgEmpty{
                width: 300px;
                height:280px;
                border: 10px solid #007BFF;
            }
        }
    }
}