<div class="leadershipContainer">
  <app-section-header  
    title="Leadership" description="Meet our team"
  ></app-section-header>

  <section>
    <div class="leadPastorContainer">
      <div class="profile">
        <div class="profileImage">
          <img src="/assets/images/modules/main-church/leadership/leadPastor.jpg" alt="">
        </div>
      </div>
      <div class="designation">
        <h3>Lead Pastors</h3>
        <h4>Satish Philip and Febi Satish</h4>
        <button>Meet Satish & Febi </button>
      </div>

    </div>
  </section>

  <section class="subFooter">
    <div class="backgroundImg"></div>
  </section>
  <div class="executiveTeamWrapper">
    <h3>Executive Team</h3>
    <div class="teamList">
      <div class="details">
        <div class="memberContainer" *ngFor="let team of executiveTeam">
          <img [src]="team.image" alt="">
          <h6>{{team.name}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="churchStaffsWrapper">
    <h3>Church Staff</h3>
    <div class="staffDetails">
      <div class="staffs" *ngFor="let staff of staffLists">
        <img [src]="staff.image" alt="">
        <h6>{{staff.name}}</h6>
        <p>{{staff.role}}</p>
      </div>
    </div>
    
  </div>
</div>
