<app-section-header title="What We Believe" description="LEARN WHAT SETS Gospel Centre APART"
  image="/assets/images/modules/main-church/what-we-believe/primary.jpeg"></app-section-header>
<section class="missionContainer">
  <div class="missionWrapper">
    <div class="dividerTop" [style.transform]="getTranslationLeft()"></div>
    <div class="header">Our Mission</div>
    <p>Everything we do is so that people far from God can experience <br> new life in Jesus.</p>
    <!-- <span>That Means:</span> -->
  </div>
  <!-- <section class="sections">
    <div class="sectionContainer">
      <div class="leftSection">
        <div class="icon">
          <img src="../../../../assets/images/modules/main-church/what-we-believe/arrow.jpg" alt="">
        </div>
        
        <div class="text">
          <p>Evangelism</p>
          <p>We want to see the lost be found.</p>
        </div>
        
      </div>
      <div class="leftSection">
        <div class="icon">
          <img src="../../../../assets/images/modules/main-church/what-we-believe/arrow.jpg" alt="">
        </div>
        
        <div class="text">
          <p>
						Discipleship					</p>
          <p>
						We want to equip those who are found to live their new lives as fully devoted followers of Jesus.					</p>
        </div>
        
      </div>
    </div>
  </section> -->
  <div class="dividerBottom" [style.transform]="getTranslationRight()"></div>
</section>
<section class="ourBeliefs">
  <div class="ourBeliefsWrapper">

    <img src="/assets/images/modules/main-church/what-we-believe/primary.jpg" alt="">
    <div class="rightSection">

      <div class="contentsWrapper">

        <div class="content" *ngFor="let content of contents; ">
          <div class="dividerTop"></div>
          <h6>{{content.heading}}</h6>
          <p>{{content.description}}</p>
          <!-- <p><a href="">Learn More</a></p> -->
        </div>


      </div>
    </div>
  </div>

</section>
<section class="ourValues">
  <div class="ourValuesContainer">
    <h3>Our Values</h3>
    <div class="valuesWrapper">
      <div class="values">
        <ul>
          <li *ngFor="let value of values">
            <img src="../../../../assets/images/modules/main-church/what-we-believe/arrow.jpg" alt="">
            <span>{{value}}</span>
          </li>



        </ul>
      </div>
      <div class="rightImg">
        <img
          src="/assets/images/shared/church-group/20.jpg"
          alt="">
      </div>
    </div>
  </div>
</section>
<section class="verse">
  <div class="verseWrapper">
    <div class="dividerTop" [style.transform]="getTranslationLeft()"></div>
    <p>
      And we know that in all things God works for the good of those who love him, who have been called according to
      his purpose. </p>
    <div class="reference">Romans 8:28</div>
    <div class="dividerBottom" [style.transform]="getTranslationRight()"></div>
  </div>
</section>