<div class="footerWrapper">
  <div class="blackSwiggly">&nbsp;</div>
  <div class="contactFormWrapper">
    <div class="contactForm">
      <h3>Sign Up for News & Encouragement</h3>
      <div class="formFields">
        <div class="formField">
          <label for="">First Name</label>
          <input type="text" placeholder="Alex">
        </div>
        <div class="formField">
          <label for="">Last Name</label>
          <input type="text" placeholder="Smith">
        </div>
        <div class="formField">
          <label for="">Last Name</label>
          <input type="text" placeholder="Smith">
        </div>
        <div class="formAction">
          Send Me Updates
        </div>
      </div>
    </div>
  </div>
  <div class="footerInfo">
    <div class="ChurchDetails">
      <h3>COG GOSPEL CENTRE</h3>

    </div>
  </div>
  <hr>
</div>