<div class="footerWrapper">
  <div class="blackSwiggly">&nbsp;</div>
  <div class="contactFormWrapper">
    <div class="contactForm">
      <h3>Sign Up for News & Encouragement</h3>
      <div class="formFields">
        <div class="formField">
          <label for="">First Name</label>
          <input type="text" placeholder="First Name">
        </div>
        <div class="formField">
          <label for="">Last Name</label>
          <input type="text" placeholder="Last Name">
        </div>
        <div class="formField">
          <label for="">Email</label>
          <input type="text" placeholder="Email">
        </div>
        <div class="formAction">
          Send Me Updates
        </div>
      </div>
    </div>
  </div>
  <div class="footerInfo">
    <div class="detailWrapper">
      <div class="churchDetails">
        <h3>COG GOSPEL CENTRE</h3>
        <a >123456789</a>
        <a >7bannybiju7&#64;gmail.com</a>
      </div>
      <div class="churchDetails">
        <h3>Quick Links</h3>
        <a >Visit</a>
        <a >Connect</a>
        <a >Watch</a>
        <a >Our Story</a>
      </div>
      <div class="churchDetails">
        <h3>Quick Links</h3>
        <div class="quickLinks">
          <div class="quickLink">
            <img src="/assets/images/core/footer/facebook.png" alt="">
          </div>
          <div class="quickLink">
            <img src="/assets/images/core/footer/instagram.png" alt="">
          </div>
          <div class="quickLink">
            <img src="/assets/images/core/footer/youtube.png" alt="">
          </div>
        </div>
        <p>
          © Church Of God Gospel Centre 2023 <br>
          All Rights Reserved
        </p>
      </div>
    </div>
  </div>
  <hr>
</div>