$black: #212322;
.footerWrapper{
    display: flex;
    flex-direction: column;
    .blackSwiggly{
        background-image: url("/assets/images/core/footer/black-swiggly.svg");
        background-repeat: repeat-x;
        background-size: 560px;
        height: 36px;
    }
    .contactFormWrapper{
        background-color:$black;
        margin-top: -3px;
        padding: 20px;
       
        .contactForm{
            background-color: white;
            max-width: 900px;
            padding: 20px;
            margin: auto;
            h3{
                font-size: 32px;
                margin: auto;
                font-family: Michroma;
                
                margin-bottom: 20px;
            }
            .formFields{
                display: flex;
                flex-wrap: wrap;
                .formField{
                    width: 49%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    &:nth-of-type(odd){
                        margin-right: 15px;
                    }
                    label{
                        font-family: Michroma;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    input{
                        padding: 10px 10px;
                        font-family: Michroma;
                        font-weight: 600;
                    }
                }
                .formAction{
        
                }
            }
        }
    }
}