<app-section-header title="Our Story"
  description="God's Faithfulness through generations of growth"></app-section-header>
<div class="churchGroupWrapper">
  <img src="" alt="">

</div>
<div class="ourHistoryWrapper">
  <div class="header">
    <h3>Our History</h3>
  </div>
  <div class="timelines">
    <div class="timeline">
      <div class="sideline">
        <div class="bubble">&nbsp;</div>
        <div class="line">&nbsp;</div>
        <div class="bubble">&nbsp;</div>
        <div class="line">&nbsp;</div>
        <div class="bubble">&nbsp;</div>
      </div>
      <div class="content">
        <div class="contentItem">
          <span>1995</span>
          <h3>Church of God Gospel Centre <br> established</h3>
        </div>
        <div class="contentItem">
          <span>1995</span>
          <h3>Cochin bible college established</h3>
        </div>
        <div class="contentItem">
          <span>2000</span>
          <h3>Shifted to own Premises</h3>
        </div>

      </div>
    </div>
    <div class="timeline">
      <div class="sideline">
        <div class="bubble">&nbsp;</div>
        <div class="line">&nbsp;</div>
        <div class="bubble">&nbsp;</div>
        <div class="line">&nbsp;</div>
        <div class="bubble">&nbsp;</div>
      </div>
      <div class="content">
        <div class="contentItem">
          <span>2016</span>
          <h3>Ahavah Kids Church<br> established</h3>
        </div>
        <div class="contentItem">
          <span>2020</span>
          <h3>Ahavah Media established</h3>
        </div>
        <div class="contentItem">
          <span>2020</span>
          <h3>Ahavah Kids School<br> established</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="founderContainer">
    <div class="founder">
      <div class="title">
        One Church - Church of God
      </div>
      <hr>
      <p>
        In the heart of Kochi, a tapestry of <i>faith, commitment, and spiritual growth</i> unfolds—the story of the
        <b>Church of God Gospel Centre</b>. Our journey began in <b>1995</b> when we established our foundation as a
        place of worship, fellowship, and spiritual enlightenment.<br><br>

        From those humble beginnings, we experienced transformative milestones. In the year <b>2000</b>, with a growing
        congregation and unwavering faith, we moved to our own premises. This shift marked a significant chapter in our
        story, as we continued to nurture a thriving community rooted in love and devotion.<br><br>

        The establishment of the <b>Cochin Bible College</b> in the same year became a testament to our commitment to
        in-depth biblical education and theological exploration. As our community grew, so did our vision, leading to
        the inception of <b>Ahavah Kids Church</b> in <b>2016</b>—a vibrant space for our youngest members to connect
        with their faith.<br><br>

        As the world embraced digital communication, so did we. In <b>2020</b>, <b>Ahavah Media</b> came to life,
        leveraging the power of media to spread our message of love, hope, and faith. Simultaneously, <b>Ahavah Home
          team</b> opened its doors, providing a nurturing educational environment that integrates faith and
        learning.<br><br>

        Our story is deeply intertwined with visionary leaders, <b>Pastor N. G. Samkutty</b> and <b>Mrs. Mariyamma
          Sam</b>. Born in the mid-20th century to Jacobite parents, Pastor Samkutty emerged as an extraordinary man of
        faith. His ministry, marked by an encounter with the Lord, led to the establishment of the "<i>Church of God
          Gospel Centre</i>." His legacy includes planting numerous churches and training thousands of
        missionaries.<br><br>

        Pastor Samkutty's journey was not only one of <i>faith</i> but of dedication to God's work. His story,
        summarized by <i>Hebrew 10:38</i>, reflects a life lived entirely by faith. At the age of <b>52</b>, he was
        called back to the eternal home, leaving behind a legacy that continues to shape our mission.<br><br>

        Carrying the torch forward, <b>Pastor Sathish Philip</b>, born in <b>1978</b>, became the senior pastor of the
        <i>Church of God Gospel Centre</i>. His encounter with Jesus at <b>24</b> propelled him into a life dedicated to
        serving the Lord. For over <b>20</b> years, Pastor Sathish has guided multitudes to realize the purpose of their
        lives.<br><br>

        Alongside him is <b>Feby Sathish</b>, a vital part of our leadership and ministry. Their partnership extends
        beyond the church walls as a loving couple, parents to <b>Ben Eliyahu Philip, Sam Elisha Philip, and Jerusha
          Ruth Philip</b>. In unity, they express the deep intimacy with God that guides their lives.<br><br>

        Feby Sathish, in her role as the creator of the YouTube channel "<i>Rose of Sharon</i>," shares inspiring
        content rooted in deep faith. This platform serves as a virtual haven, fostering a profound connection with
        Jesus and guiding others on their spiritual journey.<br><br>

        Today, the ministry is blessed to have dedicated pastors, including Pastors <b>Joseph Cleetus, Thomas Varghese,
          and Mariyamma Sam</b>. Their leadership adds depth and diversity to our spiritual journey. In addition to our
        pastoral team, the Church of God Gospel Centre is enriched by dynamic ministry teams. Our dedicated <b>Media
        , Ahavah Home, and Worship teams</b> contribute tirelessly to the vibrant life of our church. Their
        commitment enhances our worship experience, community outreach, and the use of media for spreading the Gospel.
        As we continue to grow and evolve, these teams remain integral to our mission, reinforcing our commitment to
        faith, service, and community building. Together, pastors and teams, we stand united, shaping the future
        chapters of our shared journey.

      </p>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.152812592073!2d76.3013171750312!3d10.004233490101406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d10f62641f7%3A0x2cb3bf90c0f7c02a!2sChurch%20Of%20God%2C%20Gospel%20Centre!5e0!3m2!1sen!2sin!4v1703855137334!5m2!1sen!2sin"
      allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="learnMore">
    <h3>Learn About Pastors <br> Sathish and Feby</h3>
    <button (click)="goTo('sathish-and-feby')">Learn More</button>
  </div>


</div>