<app-section-header
  title="Our Story"
  description="God's Faithfulness through generations of growth"
></app-section-header>
<div class="churchGroupWrapper">
  <img src="" alt="">

</div>
<div class="ourHistoryWrapper">
 <div class="header">
  <h3>Our History</h3>
 </div>
 <div class="timelines">
  <div class="timeline">
    <div class="sideline">
      <div class="bubble">&nbsp;</div>
      <div class="line">&nbsp;</div>
      <div class="bubble">&nbsp;</div>
      <div class="line">&nbsp;</div>
      <div class="bubble">&nbsp;</div>
    </div>
    <div class="content">
      <div class="contentItem">
        <span>1995</span>
        <h3>Church of God Gospel Centre <br> established</h3>
      </div>
      <div class="contentItem">
        <span>1995</span>
        <h3>Cochin bible college established</h3>
      </div>
      <div class="contentItem">
        <span>2000</span>
        <h3>Shifted to own Premises</h3>
      </div>
      
    </div>
  </div>
  <div class="timeline">
    <div class="sideline">
      <div class="bubble">&nbsp;</div>
      <div class="line">&nbsp;</div>
      <div class="bubble">&nbsp;</div>
      <div class="line">&nbsp;</div>
      <div class="bubble">&nbsp;</div>
    </div>
    <div class="content">
      <div class="contentItem">
        <span>2016</span>
        <h3>Ahavah Kids Church<br> established</h3>
      </div>
      <div class="contentItem">
        <span>2020</span>
        <h3>Ahavah Media established</h3>
      </div>
      <div class="contentItem">
        <span>2020</span>
        <h3>Ahavah Kids School<br> established</h3>
      </div>
    </div>
  </div>
 </div>

 <div class="founderContainer">
  <div class="founder">
    <div class="title">
      One Church - Church of God
    </div>
    <hr>
    <p>
      Generation Church launched in 2014 and has grown rapidly since! Our church was co-founded by Pastor Ryan Visconti and his father, Randy.
      Pastor Ryan’s parents, Randy and Dawn, had been the pastors of Celebration Church since 1999 (meeting at what is now the Mesa campus). Pastor Ryan came to work for them as an executive pastor in 2011. After several years, through prayer and seeking God’s will, the idea of relaunching the existing church as Generation Church began to form. One day in 2014, Pastor Ryan and Pastor Randy discussed possible names for this new church; Randy suggested the name “Generation Church!” They didn’t realize how much the church would live up to that name, making a generational impact and demonstrating the power of a godly legacy. Today, Generation Church’s ministry shows the power of the gospel to change lives from one generation to the next.
      On June 4, 2017, we launched the South Mountain campus in Ahwatukee following a merger between Generation Church and New Life Church – established by Pastor Amy’s parents, Paul & Beth Lavino, in 1991. The church continued to grow and multiply as one of the fastest-growing churches in Arizona and the nation. Another example of the power of a godly legacy!
      In October 2021, we launched our Fountain Hills campus after a merger with Fountain Hills Christian Center, a church with three decades of ministry in the Fountain Hills community.
      At Generation Church, we believe in doing whatever it takes so that people far from God can experience new life in Jesus. We continue to emphasize the importance of evangelism — giving people an opportunity to accept Jesus nearly every Sunday. We also want to train disciples to live out their new life in Christ to the fullest. Generation Church is wired to reach the lost and make disciples for the glory of Jesus’ name.
      We believe that in the years to come, we’ll continue to grow and expand across the Greater Phoenix, according to God’s will and as opportunities arise. We believe that God’s Church is the number one plan to reach the lost and make disciples, and the Lord has uniquely equipped Generation Church to do that. We unapologetically & boldly teach the Bible as God’s Word, we experience the power and presence of the Holy Spirit weekly, and our people live out the love of Jesus. We’re not perfect, but we are forgiven! Our story is still being written, and we invite you to join us on the journey and become a part of something bigger than any of us — the mission of God. The world needs Jesus now more than ever. With God’s help, we believe we’ll see lives changed, 
      marriages restored, prodigal kids return, and healing for the broken.
      “One generation will declare Your works to the next and will proclaim Your mighty acts.”
    </p>
  </div>
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.152812592073!2d76.3013171750312!3d10.004233490101406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d10f62641f7%3A0x2cb3bf90c0f7c02a!2sChurch%20Of%20God%2C%20Gospel%20Centre!5e0!3m2!1sen!2sin!4v1703855137334!5m2!1sen!2sin" 
    allowfullscreen="true" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>

<div class="learnMore">
  <h3>Learn About Pastors <br> Sathish and Feby</h3>
  <button (click)="goTo('sathish-and-febi')">Learn More</button>
</div>

  
</div>