<app-section-header
  title="Pr. Samkutty (late) and <br> Mariyamma Sam"
  description="LEARN MORE ABOUT OUR Founders"
></app-section-header>

<div class="founderContainer">
  <img src="/assets/images/modules/main-church/leadership/leadPastor.jpg" alt="">
  <div class="founder">
    <div class="title">
      Founding Pastor <br>N. G. Samkutty (Late) and <br> Mariyamma Sam
    </div>
    <hr>
    <p>
      <b>Late Pr. N. G. Samkutty</b> was born on November 27th, 1956 to Jacobite parents in Pathanamthitt, India.
      He is the youngest son of the family. 
      <b>Mrs Mariyamma Sam</b>, wife of Pr Samkutty was born on November 24th 1957 to Jacobite parents in
      Pathanapuram India. She is the fourth Daughter of the family.
      <br>
      They both are sent by God and are unique ministers of the gospel of Jesus Christ. Their spirit filled and anointed leadership 
      helped them to lead a dynamic, global ministry. As a pastor, teach, healing minister and prophet, Pastor Samkutty reached the people
      of the world with God's manifest presence.
      <br>
      As an extra ordinary man of faith, the story of Pastor Samkutty's life was inspiring and can be summed up with a simple but telling 
      passage from Hebrew 10:38 <i>"Now the just shall live by faith; but if any man draw back, my soul shall have no pleasure in him"</i>.
      <br>
      Pastor Sam began his ministry by leading prayers for a few and later he plated many churches in various parts of India. He has a 
      personal encounter with the lord and named the church <b>"Church of God Gospel Centre"</b>. He could train thousands of missionaries in and
      out of India. When he was 52 years, he got called back to the eternal home. 
      <br>
      <b>Pastor Mariyamma Sam</b> is carrying vision and been involved in the ministry.
    </p>
  </div>
</div>