$black: #212322;
$blue : #007BFF;
$white : white;
$termina_font : "REM", sans-serif;
$ibm_font : 'IBM Plex Mono', monospace; 
$primary_font : 'League Gothic', sans-serif;

*{
    font-family: 'League Gothic', sans-serif;
}

body{
    margin: 0px;
}
img{
    width: 100%;
    // pointer-events: none;
}